.PaginationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.Pagination {
    display: inline-block;
}

.DisabledNode {
    margin: 0px;
    margin-right: 4px;
    font-size: 14px;
    color: #0F1111;
    background-color: #fff;
    line-height: 16px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px 7px 13px;
    text-decoration: none;
    color: #555;
    border: none;
    background: #F0F2F2;
    cursor: default;
    box-shadow: none;
}