.ConfirmationWrapper {
    text-align: center;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(90deg,#189086,#2f8198);
    background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);	
    display: flex;
    justify-content: center;
    align-items: center;
}

.CongratsForm {
	max-width:800px;	
	width:80%;
	min-height:300px;
	max-height:900px;
	border:2px solid white;
	border-radius:5px;
	box-shadow: 12px 15px 20px 0 rgba(46,61,73,.3);
    background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
	background:#fff;
	text-align:center;
	font-family: 'Lato, sans-serif';
	font-size:0.6em;
	color: #189086;
    overflow: hidden;
    padding-bottom: 5px;
}

.CongratsForm h1 {
    font-family: 'Julius Sans One, sans-serif';
	font-size: 40px;
	color: #02b3e4;
    text-transform: uppercase;
}

.Circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #07a796;
    fill: #0cdcc7;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.CheckMark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 2% auto;
    box-shadow: inset 0px 0px 0px #189086;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }

.Check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .7s cubic-bezier(0.65, 0, 0.45, 1) 0.7s forwards;
}

@keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #189086;
    }
}

.Text {
    position:relative;
	font-weight:normal;
	left:0;
	right:0;
	margin: auto;
	width: 90%;
	max-width:800px;

	font-family: 'Lato, sans-serif';
	font-size: 20px;
}

.Regards {
    font-size: 21px;
}

.Navigation a {
    color: #ff6f68;
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed #ff6f68;
    border-radius: 2px;
    cursor: pointer;
    font-size: 17px;
}

@media (max-width: 800px) {
    .CongratsForm h1 {
        font-size: 37px;
    }

    .Text {
        font-size: 19px;
    }
    
    .Regards {
        font-size: 20px;
    }
    
    .Navigation a {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .CongratsForm {
        width: 90%;
    }

    .CongratsForm h1 {
        font-size: 32px;
    }

    .Text {
        font-size: 18px;
    }
    
    .Regards {
        font-size: 19px;
    }
    
    .Navigation a {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .CongratsForm h1 {
        font-size: 27px;
    }

    .Text {
        font-size: 17px;
    }
    
    .Regards {
        font-size: 18px;
    }
    
    .Navigation a {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .CongratsForm h1 {
        font-size: 24px;
    }

    .Text {
        font-size: 16px;
    }
    
    .Regards {
        font-size: 17px;
    }
    
    .Navigation a {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .CongratsForm h1 {
        font-size: 22px;
    }

    .Text {
        font-size: 13px;
    }
    
    .Regards {
        font-size: 16px;
    }
    
    .Navigation a {
        font-size: 13px;
    }
}