.ResetPasswordWrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
 
.ResetPasswordWrapper .ResetPasswordBackground {
    min-height: 100vh;
    z-index: 0;
    background-image: url('../../../assets/Images/Intro/authenticate_background_3.jpg');
    background-size: 100% 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    filter: blur(2px);
}

.ResetPasswordWrapper .ResetPassword {
    /* background-color: cadetblue; */
    z-index: 1;
    width: 370px;
    height: auto;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    background: #ebe9e6;
    padding: 25px 15px;
    border: 2px solid rgba(112, 21, 21, 0.7);
    border-radius: 15px;
    box-shadow: 10px 10px 7px rgba(112, 21, 21, 0.7);
}

.Title p {
    color: #701515;
    padding: 0;
    margin: 0;
    font-family: 'Souvenir,Cooper,serif';
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

.Form {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 40px 40px 40px;
    grid-row-gap: 30px;
}

.ErrorMessage {
    font-size: 14px;
    color: red;
    margin: 1px 1px;
    font-weight: bold;
    white-space: nowrap;
}

.Cancel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Highlight {
    color: #007c8a;
    font-weight: 600;
    cursor: pointer;  
    display:inline-block;
    text-decoration: none;
}

.Highlight:hover {
    color: #007c8a;
}

.Highlight:after {
    display:block;
    content: '';
    border-bottom: solid 1px #007c8a;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;     
}

.Highlight:hover:after { transform: scaleX(1)}

.ResetPasswordWrapper .ResetPassword .Text {
    margin-top: 13px;
    text-align: center;
    color: lightsteelblue;
    font-weight: 600;
}

/* Button */

.ResetPasswordWrapper .ResetPassword .ButtonWrapper button {
    background-color: #4a77d4;
    /* trộn màu */
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    border: 1px solid #3762bc; 
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 100%;
    /* background-color: #4a77d4;  */
    padding: 9px 14px; 
    margin-top: 13px;
    font-size: 15px; 
    line-height: normal;
    border-radius: 5px; 
    text-align: center;
    vertical-align: middle
}

.ResetPasswordWrapper .ResetPassword .ButtonWrapper button:hover { 
    filter: none;
    background-color: #4a77d4;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    /* đổi vị trí màu */ /* Combo dùng chung với linear-gradient */
    background-position: 0 -15px;
    text-decoration: none;
}

.ResetPasswordWrapper .ResetPassword .ButtonWrapper button:disabled,
.ResetPasswordWrapper .ResetPassword .ButtonWrapper button[disabled] {
    cursor: not-allowed;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    box-shadow: none;
    text-shadow: none;
    background-repeat: no-repeat;
    background-image: none;
}

.Message {
    color: green;
    font-weight: 300; 
    font-size: 16px; 
    text-align: center; 
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .ResetPasswordWrapper .ResetPasswordBackground,
    .ResetPasswordWrapper {
        min-height: 80vh;
    }

    .ResetPasswordWrapper .ResetPassword {
        width: 400px;
        transform: translate(-50%,-20%);
        top: 20%;
        left: 50%;
    }

    .Message {
        font-size: 16px; 
    }

    .Title p {
        font-size: 32px;
    }

    .ResetPasswordWrapper .ResetPassword .ButtonWrapper button,
    .Highlight  {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .ResetPasswordWrapper .ResetPasswordBackground,
    .ResetPasswordWrapper {
        min-height: 100vh;
    }

    .ResetPasswordWrapper .ResetPassword {
        width: 350px;
        padding: 20px 25px;
    }
    .Title p {
        font-size: 28px;
    }

    .Message {
        font-size: 14px; 
    }

    .Form {
        margin-top: 30px;
        grid-template-rows: 35px 35px 35px;
        grid-row-gap: 30px;
    }

    .ResetPasswordWrapper .ResetPassword .ButtonWrapper {
        height: 35px;
    }

    .ResetPasswordWrapper .ResetPassword .ButtonWrapper button {
        margin-top: 0;
        padding: 0;
        height: 35px;
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .ResetPasswordWrapper .ResetPassword {
        width: 320px;
        padding: 17px 28px;
    }
    .Title p {
        font-size: 24px;
    }

    .Message {
        font-size: 13px; 
    }

    .Form {
        margin-top: 29px;
        grid-template-rows: 29px 29px 29px;
        grid-row-gap: 28px;
    }

    .ResetPasswordWrapper .ResetPassword .ButtonWrapper button {
        height: 29px;
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .ResetPasswordWrapper .ResetPassword {
        width: 310px;
        padding: 17px 17px;
    }

    .Message {
        font-size: 12px; 
    }

    .Form {
        margin-top: 31px;
        grid-template-rows: 29px 29px 29px;
        grid-row-gap: 26px;
    }

    .ResetPasswordWrapper .ResetPassword .ButtonWrapper button {
        height: 29px;
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .ResetPasswordWrapper .ResetPassword {
        width: 270px;
        padding: 12px 12px;
    }
    
    .Title p {
        font-size: 20px;
    }

    .Message {
        font-size: 11px; 
    }

    .ResetPasswordWrapper .ResetPassword .ButtonWrapper button {
        font-size: 13px;
    }

    .Highlight {
        font-size: 14px;
    }
}