.Node {
    margin: 0px;
    margin-right: 6px;
    font-size: 14px;
    color: #0F1111;
    background-color: #fff;
    line-height: 16px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px 7px 13px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
    background: #eff1f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border: 1px solid #6c6e73;
    border-color: #adb1b8 #a2a6ac #8d9096;
    text-decoration: none;
    cursor: pointer;
}

.Node:hover {
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
    border-color: #a2a6ac #979aa1 #82858a;
}

.Node:active {
    border-radius: 3px;
    border-color: #e77600;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%) inset;
    background-color: #e7e9ec;
    background-image: none;
}

.Node:focus {
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
    outline: 0;
}

.IsSelected {
    font-weight: 700;
    background-color: #fff;
    background-image: none;
    color: #c45500;
    border-color: #e77600;
}