.User {
    /* height: 100%; */
    height: auto;
    margin-top: 5px;
    position: relative
}

.User .Toolbar {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    /* absolute position: depend on User's position */
    position: absolute;
    top: 0;
    left: 0;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}

.User .Toolbar nav {
    height: 100%;
    width: 100%;
}

.User .UserContent {
    height: 100%;
}

@media (min-width: 500px) {
    .User .Toolbar {
        height: 60px;
    }
}